p,
li {
    font-size: 11pt;
}

ul > li {
    margin-top: 10px;
}

ul > li > ul {
    padding-top: 10px;
}

ul > li > ul > li {
    margin-top: 0px;
}


ol ul > li {
    margin-top: 0px;
}

ol ul > li > li {
    margin-top: 0px;
}

ol > li {
	margin-top: 25px;
}

.title {
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    line-height: normal;
}

div.output_prompt {
    color: white;
}